$primary: #1d1d1d;
$secondary: #9d9999;
$textColor: white;

body {
  margin: 0px;
  background: linear-gradient(-45deg, #000000, #bebebe, #6b6969, #434343);
  background-size: 400% 400%;
  animation: gradient 20s infinite;
  height: 100vh;
  font-family: "Yu Gothic UI Semibold";
}

nav {
  background-color: $primary;

  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        padding: 0px;
        font-size: 50px;
        color: $textColor;
        margin: 25px;
      }
    }
  }
}


.mainUl {
  li {
    position: relative;

    ul {
      position: absolute;
      background-color: $primary;
      width: 350px;
      height: 300px;
      padding: 10px;
      margin: 0;
      font-size: 50px;
    }
  }

  li:hover {
    ul {
      text-decoration: none;
      padding: 25px;
      font-size: 60px;
      display: block;
    }
  }
}

.Dropdown {
  display: none;

  li {
    a {
      color: $textColor;
    }

    a:hover {
      border: solid 2px $textColor;
      background-color: $secondary;
      color: #000000;
    }
  }
}

.container {
  background: rgba($primary, 0.8);
  color: $textColor;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  padding: 50px;
  width: 60%;
  font-size: 25px;
  box-shadow: 8px 6px $secondary;
}

.flexContainer {
  display: flex;
  align-items: center;

  .container2 {
    background: rgba($primary, 0.8);
    color: $textColor;
    margin-left: 15%;
    margin-top: 50px;
    padding: 50px;
    width: 15%;
    font-size: 25px;
    box-shadow: 8px 6px $secondary;
  }

  .container3 {
    background: rgba($primary, 0.8);
    color: $textColor;
    margin-left: 25%;
    margin-top: 50px;
    padding: 50px;
    width: 15%;
    font-size: 25px;
    box-shadow: 8px 6px $secondary;
  }
}

h1 {
  font-size: 50px;
}

i {
  margin: 30px;
  font-size: 70px;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}